{% extends 'base.html' %}
{% block content %}
<h2>Home Page</h2>
<p>Welcome to my site, {% if user.is_authenticated %} {{ user.username}}{% else %} Visitor {% endif  %}</p>
<strong>Total user registration: </strong>{{ count }}
{% endblock %}