{% extends 'base.html' %}
{% block content %}

    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
{% endblock %}