{% extends 'base.html' %}
{% block content %}
    <h2>Set new Password</h2>
    {% if validlink %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    {% else %}
    <p style="red">Invalid token</p>
    <p>
        <a href="{% url 'password_reset'%}">Request a new password reset token here</a>
    </p>
    {% endif %}    
{% endblock %}